body {
  margin: 0;
}

#container {
  width: 100%;
  color: white;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-family: sans-serif;
  text-align: center;
}

.header {
  background: black;
  width: 100%;
}

.about {
  min-height: 300px;
  background-image: url('./images/in_action_front.png');
  background-size: 100%;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.members {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: center;
}

.members img {
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
}

.members h1 {
  flex-grow: 1;
}

#container:nth-child(odd) {
  background: #db133c;
  width: 100%;
}

#container section:nth-child(even) {
  color: #db133c;
  background-color: white;
  width: 100%;
}

.next_events {
  background-image: url('./images/racetrack.png');
  background-size: 100%;
  background-position-y: center;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.next_events ul {
  list-style-type: none;
  color: white;
}